
<div class="container">
    <div class="card border-dark">
        <div class="card-header bg-dark text-white">
            <span>
               @ViewBag.fullName
            </span>

        </div>
        <div class=" card-body" style="min-height:400px;">

        </div>
    </div>



</div>


